@import '../../node_modules/scss-reset/src/scss/_reset.scss';

* {
  box-sizing: border-box;
}

body {
  height: 100%;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}
